use auxiliary/scanner/http/vulnscan
unset all
unsetg all
set THREADS 254

<ruby>

ports = ['80', '8080', '443']

ports.each do |port|
	if "#{port}" == "443"
		run_single("set SSL true")
	else
		run_single("set SSL false")
	end

	run_single("set RPORT #{port}")
	run_single("set RHOSTS file:/pentest/targets/vulnscan/#{port}")
	run_single("spool /pentest/logs/vulnscan.log")
	run_single("run")
	run_single("spool off")
	run_single("hosts -d")
end

</ruby>